.amsterdam-theme {

  --utrecht-table-caption-font-weight: var(--amsterdam-typography-weight-scale-bold-font-weight);
  --utrecht-table-header-border-block-end-color: transparent;
  --utrecht-table-header-border-block-end-width: 0;
  --utrecht-table-heading-font-weight:normal;
  --utrecht-table-row-border-block-end-color: transparent;
  --utrecht-textbox-font-family: var(--utrecht-document-font-family);
  --utrecht-table-cell-line-height:0.1;
  --utrecht-form-label-radio-font-weight:bold;


}
.utrecht-theme {
  --utrecht-paragraph-color:red;

}
