.amsterdam-theme {
  --utrecht-form-label-radio-font-weight: 700;
  --utrecht-table-caption-font-weight: var(
    --amsterdam-typography-weight-scale-bold-font-weight
  );
  --utrecht-table-header-border-block-end-color: transparent;
  --utrecht-table-header-border-block-end-width: 0;
  --utrecht-table-heading-font-weight: 400;
  --utrecht-table-row-border-block-end-color: transparent;
  --amsterdam-article-line-height: 25px;
}
